<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @user_address.userid %>
</p>

<p>
  <b>Is current:</b>
  <%= @user_address.is_current %>
</p>

<p>
  <b>{:</b>
  <%= @user_address.{ %>
</p>

<p>
  <b>Addr 1:</b>
  <%= @user_address.addr_1 %>
</p>

<p>
  <b>Addr 2:</b>
  <%= @user_address.addr_2 %>
</p>

<p>
  <b>City:</b>
  <%= @user_address.city %>
</p>

<p>
  <b>State:</b>
  <%= @user_address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @user_address.zip %>
</p>

<p>
  <b>Addr:</b>
  <%= @user_address.addr_id %>
</p>

<p>
  <b>{:</b>
  <%= @user_address.{ %>
</p>


<%= link_to 'Edit', edit_user_address_path(@user_address) %> |
<%= link_to 'Back', user_addresses_path %>
